<div id="contentHeader">
</div>
<div id="ex-1" class="row ex">
	<div class="col-12">
		<div class="row example">
			<div class="col-sm-7">
				<label>JavaScript</label>
				
<!-- ---------------------------- EXAMPLE 1 ---------------------------- -->				
<textarea placeholder="Add JavaScript Here" class="d-none">
// Greater Than and Less Than
print("1 < 10: " + (1 < 10));
print("1 > 10: " + (1 > 10));
print("2 <= 2: " + (2 <= 2));
print("2 >= 2: " + (2 >= 2));
</textarea>

<!-- ---------------------------- EXAMPLE 2 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// Negation
print("!true: " + !true);
print("!false: " + !false);
</textarea>

<!-- ---------------------------- EXAMPLE 3 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
print("('5' == 5): " + ('5' == 5));
print("(null == undefined): " + (null == undefined));
</textarea>

<!-- ---------------------------- EXAMPLE 4 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// Strict Equality is ===
print("(1 === 1) : " + (1 === 1));
print("(2 === 1) : " + (2 === 1));

// Strict Inequality is !==
print("(1 !== 1) : " + (1 !== 1));
print("(2 !== 1) : " + (2 !== 1));

// No Coercion with Strict Equality
print("('5' === 5) : " + ('5' === 5));
print("(null === undefined) : " + (null === undefined));
</textarea>

<!-- ---------------------------- EXAMPLE 5 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// Unexpected Behavior...
print("13 + !0: " + (13 + !0));
print("'13' + !0: " + ('13' + !0));
print("1 === 1 : " + 1 === 1);     // ["1 === 1 : " + 1] !== [1]
print("(1 === 1) : " + (1 === 1)); // Correction
print("-~[] : " + (-~[]));
</textarea>

<!-- ---------------------------- EXAMPLE 6 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// Falsy Evaluation
// A falsy value is a value that is considered false when 
// encountered in a Boolean context. This does not mean the
// variable is == to false;
var result = "";
var online = null;

if (online) {
	result = true;
} else {
	result = false;
}
print("online == false: " + (online == false));
print("result: " + result);
// online is not == to false but it evaluates to false
// and so the value of result is changed to false.
</textarea>

<!-- ---------------------------- END OF EXAMPLES ---------------------------- -->
				<div>
					<button class="btn btn-success float-right" onclick="runJS();">
						Run
					</button>
				</div>
				
<!-- 				<div>
					<button class="btn btn-success float-right" onclick="run('console1', 'output1');">
						Run
					</button>
				</div> -->
			</div>			
			<div class="col-sm-5">
				<label>Output</label>
				<div class="bordered" id="output"></div>
			</div>
		</div>
	</div>
</div>
